
services:
  sharelatex:
    build: /overleaf/custom/
    image: overleaf-custom:latest
    container_name: overleaf
    restart: always
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - /overleaf/overleaf_data:/var/lib/overleaf
      - /overleaf/texlive/texmf-local:/usr/local/texlive/texmf-local
    environment:
      OVERLEAF_APP_NAME: Overleaf Community
      OVERLEAF_MONGO_URL: mongodb://mongo/sharelatex
      OVERLEAF_REDIS_HOST: redis
      OVERLEAF_ENABLED_LINKED_FILE_TYPES: 'project_file,project_output_file'
      OVERLEAF_SECURE_COOKIE: 'true'
      OVERLEAF_BEHIND_PROXY: 'true'
      OVERLEAF_SITE_URL: 'https://localhost:8443' 


  mongo:
    image: mongo:8.0
    container_name: overleaf_mongo
    restart: always
    command: "--replSet overleaf"
    volumes:
      - /overleaf/mongo_data:/data/db
      - /overleaf/mongo_init:/docker-entrypoint-initdb.d
    expose:
      - 27017
    healthcheck:
      test: echo 'db.stats().ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5

  overleaf-proxy:
    image: nginx:alpine
    container_name: overleaf_proxy
    restart: always
    ports:
      - "8443:443"
    depends_on:
      - sharelatex
    volumes:
      - /overleaf/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /overleaf/nginx/certs:/etc/nginx/certs:ro

  redis:
    image: redis:6.2
    container_name: overleaf_redis
    restart: always
    expose:
      - 6379
    volumes:
      - /overleaf/redis_data:/data